.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 222px;
  min-height: 50px;
  padding: 8px 25px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: $font-stack;
  text-align: center;
  color: $basic-white;
  text-transform: uppercase;

  background-color: $special-pink;
  border: none;
  border-radius: 50px;

  &:hover {
    box-shadow: 0 0 0 6px rgba($basic-pink, 0.3) inset;
    cursor: pointer;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }
}
