.footer-nav__list {
  @include list-unstyled;
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    font-size: 10px;
  }
}

.footer-nav__link {
  display: block;

  font-size: 18px;
  line-height: 26px;
  color: rgba($basic-white, 0.6);

  @media (max-width: $desktop-width - 1px) {
    text-align: center;
  }

  &:hover {
    color: $basic-white;
  }

  &:active {
    opacity: 0.6;
  }
}
