.header {
  padding-top: 28px;
  padding-bottom: 28px;

  background-color: $basic-pink;
}

.header__container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column-gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 2fr 3fr;
    grid-column-gap: 60px;
  }
}

.header__logo {
  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  img {
    display: block;
  }
}

.header__group {
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: right;

  @media (max-width: $desktop-width - 1px) {
    display: none;
  }
}

.header__phone {
  font-size: 18px;
  line-height: 25px;
  color: $basic-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
