.social__list {
  @include list-unstyled;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin: 10px 15px;

  @media (min-width: $tablet-width) {
    margin: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 5px;

  &:hover {
    background-color: $basic-white;
  }

  &:active {
    opacity: 0.3;
  }
}
